<!doctype html>
<title>Main Page</title>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
  <h1>Curious-Researcher</h1>
  <div class=metanav>
  
    <a href="/logout">log out</a>
  
  </div>
  
    <!--div class=flash>New entry was successfully posted</div -->
  
  
  
    <form action="/search" method=post class=search-entry>
      <dl>
        <dt>Animal:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Search>
      </dl>
    </form>
  
  <ul class=entries>
  
    <li><h2>Moving on </h2>reading @ app documentation

  
    <li><h2>Day 2 </h2>Modify to suit project needs
  
    <li><h2>Day 1 </h2>Got this up and running
  
  </ul>

</div>